@font-face {
    font-family: "BelindaW00-Regular";
    src: url("./f6a8b2423790ec81bbbd18662bbc7f03.eot");
    src: url("./f6a8b2423790ec81bbbd18662bbc7f03_iefix.eot") format("embedded-opentype"),
        url("./f6a8b2423790ec81bbbd18662bbc7f03.woff2") format("woff2"),
        url("./f6a8b2423790ec81bbbd18662bbc7f03.woff") format("woff"),
        url("./f6a8b2423790ec81bbbd18662bbc7f03.ttf") format("truetype"),
        url("./f6a8b2423790ec81bbbd18662bbc7f03.svg") format("svg");
}